<div class="panel msg" ng-class="{'panel-info':$ctrl.msg.isVerification, 'panel-default':$ctrl.msg.isPost}" style="{{$ctrl.msg.bgColor}}" ng-if="$ctrl.msg.signedData">
  <div class="message-panel" ng-class="{ 'panel-body': !$ctrl.msg.isVerification, 'panel-heading': $ctrl.msg.isVerification || $ctrl.msg.isUnverification }">
    <p class="">
      <span class="mar-left5 pull-right" ng-class="$ctrl.msg.iconStyle" ng-repeat="n in $ctrl.msg.iconCount track by $index"></span>
      <span class="mar-left5 pull-right fa fa-refresh" uib-tooltip="Pending" ng-if="$ctrl.msg.local"></span>
      <strong>
        <a ui-sref="identities.show({ type: $ctrl.msg.linkToAuthor.type, value: $ctrl.msg.linkToAuthor.value })" class="id-link">
          <identicon ipfs="$ctrl.ipfs" identity="$ctrl.msg.author" class="mar-right5" border="3" width="35"></identicon>
          <span ng-bind="$ctrl.msg.author_name"></span>
        </a>
      </strong>
      <span ng-show="!$ctrl.msg.sameAuthorAndRecipient">
        <small><i class="glyphicon glyphicon-play"></i></small>
        <a ui-sref="identities.show({ type: $ctrl.msg.linkToRecipient.type, value: $ctrl.msg.linkToRecipient.value })" class="id-link">
          <identicon ng-if="$ctrl.showRecipient" ipfs="$ctrl.ipfs" identity="$ctrl.msg.recipient" class="mar-right5" border="3" width="35"></identicon>
          <span ng-bind="($ctrl.msg.recipientIsSelf && $ctrl.pageInfo.primaryName)||$ctrl.msg.recipient_name"></span>
        </a>
      </span>
       - <a ui-sref="messages.show({ id: ($ctrl.msg.ipfsUri || $ctrl.msg.hash) })" ng-bind="$ctrl.msg.signedData.timestamp|date:'medium'" class="text-muted small" style="display:inline-block;"></a>
    </p>

    <div ng-if="$ctrl.msg.isVerification || $ctrl.msg.isUnverification">
        <div ng-repeat="a in $ctrl.msg.recipientArray">
          <small>
            <b ng-bind="a.type"></b>:
            <span ng-if="a.type == 'email' || a.type == 'url'" ng-bind-html="a.value | linky"></span>
            <span ng-if="!(a.type == 'email' || a.type == 'url')" ng-bind="a.value"></span>
          </small>
        </div>
    </div>

    <p>
      <span ng-repeat="attachment in $ctrl.msg.attachments">
        <a ng-show="['video','image','audio'].indexOf(attachment.typeSubstr) == -1"  ng-bind="attachment.name"></a>
        <img ng-show="attachment.type && attachment.typeSubstr == 'image'" alt="{{attachment.uri}}" ng-src="{{attachment.src}}" ng-style="{'max-width': $ctrl.msg.attachments.length > 1 ? '150px' : '100%', 'max-height': $ctrl.msg.attachments.length > 1 ? '150px' : '450px'}" style="margin-right: 15px; margin-bottom: 15px">
        <video ng-show="attachment.type && ['video','audio'].indexOf(attachment.typeSubstr) != -1" controls ng-src="{{attachment.src}}" style="max-width: 100%; margin-right: 15px; margin-bottom: 15px">
      </span>
    </p>

    <p ng-if="$ctrl.msg.attachments">
    </p>

    <p style="white-space: pre-line;"
    ng-if="$ctrl.msg.signedData.comment"
    hm-read-more
    hm-limit="280"
    hm-text="{{ $ctrl.msg.signedData.comment|linky }}"
    hm-more-text="Show more"
    hm-less-text="Show less"></p>

    <p style="white-space: pre-line;"
    ng-if="$ctrl.msg.signedData.sharedMsg"
    hm-read-more
    hm-limit="280"
    hm-text="{{ $ctrl.msg.signedData.sharedMsg|linky }}"
    hm-more-text="Show more"
    hm-less-text="Show less"></p>

    <span ng-class="{disabled: !$ctrl.auth.user}" class="pull-right" ng-if="$ctrl.msgUtils && $ctrl.msg.signedData.type == 'post'">
      <a class="msg-reaction" href="" ng-class="{active: $ctrl.msg.showCommentField}" ng-click="$ctrl.auth.user && ($ctrl.msg.showCommentField = !$ctrl.msg.showCommentField)"><i class="glyphicon glyphicon-comment"></i></a>
      <a class="msg-reaction" href="" ng-click="$ctrl.auth.user && $ctrl.msgUtils.share($ctrl.msg)"><b ng-if="$ctrl.msg.sharesArr.length">{{$ctrl.msg.sharesArr.length}} </b><i class="glyphicon glyphicon-retweet"></i></a>
      <a class="msg-reaction" ng-class="{active: $ctrl.msg.liked}" href="" ng-click="$ctrl.auth.user && $ctrl.msgUtils.like($ctrl.msg)"><b ng-if="$ctrl.msg.likes || $ctrl.msg.liked">{{$ctrl.msg.likes || 1}} </b><i class="glyphicon" ng-class="{'glyphicon-heart-empty': !$ctrl.msg.liked, 'glyphicon-heart': $ctrl.msg.liked,}"></i></a>
    </span>

    <form class="form-inline" ng-submit="$ctrl.msgUtils.replyTo($ctrl.msg, reply)" ng-show="$ctrl.auth.user && $ctrl.msg.showCommentField">
      <div class="form-group">
        <input focus-on="addNameFocus" type="text" class="form-control" ng-model="reply" placeholder="Write a reply">
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>

    <div ng-repeat="m in $ctrl.msg.repliesArr | orderBy:'signedData.timestamp' : true" class="mar-top15 clear">
      <a ui-sref="identities.show({ type: m.linkToAuthor.type, value: m.linkToAuthor.value })" class="id-link">
        <identicon ipfs="$ctrl.ipfs" identity="m.author" class="mar-right5" border="3" width="35"></identicon>
        <span ng-bind="m.author_name"></span>
      </a> - <a ui-sref="messages.show({ id: (m.ipfsUri || m.hash) })" ng-bind="m.signedData.timestamp|date:'medium'" class="text-muted small mar-right15" style="display:inline-block;"></a>
      <span ng-bind="m.signedData.comment"></span>
    </div>
  </div>
</div>
