<div class="panel msg" ng-class="{'panel-info':msg.isVerification, 'panel-default':msg.isPost}" style="{{msg.bgColor}}" ng-if="msg.signedData">
  <div class="message-panel" ng-class="{ 'panel-body': !msg.isVerification, 'panel-heading': msg.isVerification || msg.isUnverification }">
    <p class="">
      <span class="mar-left5 pull-right" ng-class="msg.iconStyle" ng-repeat="n in msg.iconCount track by $index"></span>
      <span class="mar-left5 pull-right fa fa-refresh" uib-tooltip="Pending" ng-if="msg.local"></span>
      <strong>
        <a ui-sref="identities.show({ type: msg.linkToAuthor.type, value: msg.linkToAuthor.value })" class="id-link">
          <identicon ipfs="ipfs" identity="msg.author" class="mar-right5" border="3" width="35"></identicon>
          <span ng-bind="msg.author_name"></span>
        </a>
      </strong>
      <span ng-show="msg.signedData.type != 'chat' && !msg.sameAuthorAndRecipient">
        <small><i class="glyphicon glyphicon-play"></i></small>
        <a ui-sref="identities.show({ type: msg.linkToRecipient.type, value: msg.linkToRecipient.value })" class="id-link">
          <identicon ng-if="showRecipient" ipfs="ipfs" identity="msg.recipient" class="mar-right5" border="3" width="35"></identicon>
          <span ng-bind="(msg.recipientIsSelf && pageInfo.primaryName)||msg.recipient_name"></span>
        </a>
      </span>
       - <a ui-sref="messages.show({ id: (msg.ipfsUri || msg.hash) })" ng-bind="(msg.signedData.time||msg.signedData.timestamp)|date:'medium'" class="text-muted small" style="display:inline-block;"></a>
    </p>

    <div ng-if="msg.isVerification || msg.isUnverification">
        <div ng-repeat="a in msg.recipientArray">
          <small>
            <b ng-bind="a.type"></b>:
            <span ng-if="a.type == 'email' || a.type == 'url'" ng-bind-html="a.value | linky"></span>
            <span ng-if="!(a.type == 'email' || a.type == 'url')" ng-bind="a.value"></span>
          </small>
        </div>
    </div>

    <div ng-class="{'align-center': msg.attachments.length == 1}">
      <span ng-repeat="attachment in msg.attachments" class="attachment">
        <a ng-if="['video','image','audio'].indexOf(attachment.typeSubstr) == -1" download="{{attachment.name}}" ng-click="download(attachment.name, null, null, null, attachment.src)">
          <i class="fa fa-download mar-right5"></i> {{attachment.name}}
        </a>
        <a ng-if="attachment.type && attachment.typeSubstr == 'image'" ng-href="{{attachment.src}}" target="_blank">
          <img alt="{{attachment.uri}}" ng-src="{{attachment.src}}" ng-style="{'max-width': msg.attachments.length > 1 ? '150px' : '100%', 'max-height': msg.attachments.length > 1 ? '150px' : '450px'}">
        </a>
        <videostream ng-if="attachment.typeSubstr == 'video' || attachment.typeSubstr == 'audio'" ipfs="ipfs" uri="attachment.uri"></videostream>
        <span ng-bind-html="attachment.element" ng-if="attachment.element"></span>
      </span>
    </div>

    <p style="white-space: pre-line;"
    ng-if="(msg.signedData.text || msg.signedData.comment)"
    ng-class="{big: msg.emojisOnly}"
    hm-read-more
    hm-limit="280"
    hm-text="{{ (msg.signedData.text || msg.signedData.comment)|linky }}"
    hm-more-text="Show more"
    hm-less-text="Show less"></p>

    <form ng-if="msg.signedData.pollOptions && !msg.myVote" ng-submit="vote(msg, msg.choice)" ng-init="choice = 'asdf'">
      <div class="radio" ng-repeat="o in msg.signedData.pollOptions">
        <label>
          <input ng-hide="msg.myVote" ng-disabled="!authentication.user" type="radio" ng-model="msg.choice" ng-value="o.text">
          <span ng-show="msg.myVote" ng-bind="o.voteCount"></span>
          {{o.text}}
        </label>
      </div>
      <button ng-disabled="!authentication.user || !msg.choice" class="btn btn-primary mar-right5">Vote</button> <small>{{msg.voteCount || 0}} votes</small>
    </form>
    <div ng-if="msg.voteResults">
      <div ng-repeat="(k, v) in msg.voteResults">
        <b ng-bind="v" style="width: 50px; display:inline-block"></b> <span ng-bind="k"></span>
      </div>
      <small>{{msg.voteCount || 0}} votes</small>
    </div>

    <message ng-if="msg.sharedMsg && msgUtils" msg="msg.sharedMsg"></message>

    <span ng-class="{disabled: !authentication.user}" class="pull-right" ng-if="msgUtils && msg.signedData.type == 'post'">
      <a class="msg-reaction" href="" ng-class="{active: msg.showCommentField}" ng-click="authentication.user && (msg.showCommentField = !msg.showCommentField)">
        <b ng-if="msg.repliesArr.length">{{msg.repliesArr.length}} </b>
        <i class="glyphicon glyphicon-comment"></i>
      </a>
      <a class="msg-reaction" href="" ng-click="authentication.user && msgUtils.share(msg)">
        <b ng-if="msg.sharesArr.length">{{msg.sharesArr.length}} </b>
        <i class="glyphicon glyphicon-retweet"></i>
      </a>
      <a class="msg-reaction" ng-class="{active: msg.liked}" href="" ng-click="authentication.user && msgUtils.like(msg)">
        <b ng-if="msg.likes || msg.liked">{{msg.likes || 1}} </b>
        <i class="glyphicon" ng-class="{'glyphicon-heart-empty': !msg.liked, 'glyphicon-heart': msg.liked,}"></i>
      </a>
    </span>

    <form class="form-inline" ng-submit="msgUtils.replyTo(msg, reply)" ng-show="authentication.user && msg.showCommentField">
      <div class="form-group">
        <input focus-on="addNameFocus" type="text" class="form-control" ng-model="reply" placeholder="Write a reply">
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
  </div>
</div>
