<section class="cover-container">
  <div ng-click="openCoverPhotoUploadModal()" class="cover" parallax-background parallax-ratio="-0.2" ng-style="coverPhoto"></div>
  <div class="container hidden-xs hidden-sm">
    <div class="heading-row row">
      <div class="col-md-8 col-md-offset-3">
        <h4 ng-show="idType === 'keyID' || idType === 'uuid'">
          <identicon identity="idAttr" width=35></identicon>
          <button class="btn btn-default mar-left15" ng-click="openSharePageModal()">
            <span class="glyphicon glyphicon-qrcode mar-right5"></span> Share
          </button>
          <button ng-if="authentication.user && !isCurrentUser && idType === 'keyID'" class="mar-left15 btn btn-default" ng-click="openChatModal()">
            <span class="fa fa-comment mar-right5"></span> Chat
          </button>
          <button ng-if="authentication.user && idType === 'keyID'" class="mar-left15 btn btn-default" ng-click="openVideoChatModal()">
            <span class="glyphicon glyphicon-facetime-video mar-right5"></span> {{isCurrentUser ? 'Go live' : 'Video'}}
          </button>
          <small class="positive mar-left15" ng-show="isOnline">online</small>
        </h4>
        <h4 ng-hide="idType === 'keyID' || idType === 'uuid'">
          <span ng-bind="idValue" class="idValue"></span>
          <small class="text-muted">
          <span ng-hide="idType === 'url'" ng-bind="idType" class="idType"></span>
          <a ng-href="{{idValue}}" ng-show="idType === 'url'" ng-bind="idType" class="idType"></a>
          </small>
          <button class="btn btn-default mar-left15" ng-click="openSharePageModal()">
            <span class="glyphicon glyphicon-qrcode mar-right5"></span> Share
          </button>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <ul class="list-inline tab-list">
          <li ng-if="isUniqueType">
            <a href="" ng-class="{ active: activeTab == 1 }" ng-click="activateTab(1)"><span class="hidden-xs">Received </span>({{0+identity.data.receivedPositive+identity.data.receivedNeutral+identity.data.receivedNegative || received.list.length}})</a>
          </li>
          <li ng-if="isUniqueType">
            <a href="" ng-class="{ active: activeTab == 2 }" ng-click="activateTab(2)"><span class="hidden-xs">Sent </span>({{0+identity.data.sentPositive+identity.data.sentNeutral+identity.data.sentNegative || sent.length}})</a>
          </li>
          <li>
            <a href="" ng-class="{ active: activeTab == 3 }" ng-click="activateTab(3)"><span class="hidden-xs">Identity </span>(<span ng-bind="attributesLength || 0"></span>)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div>
    <section>
      <div class="row">
        <div class="col-md-3 id-left-column">
          <div ng-if="isUniqueType" ng-include="'app/identities/show.stats.html'"></div>
          <div class="hidden-xs" ng-include="'app/messages/distance-selector.partial.html'"></div>
        </div>
        <div class="col-md-8 id-right-column">
          <!-- Nav tabs -->
          <div ng-include="'app/main/createuser.partial.html'"></div>
          <uib-tabset active="activeTab">
            <uib-tab index="1" ng-if="isUniqueType">
              <uib-tab-heading>
                <span class="hidden-xs">Received ({{0+identity.data.receivedPositive+identity.data.receivedNeutral+identity.data.receivedNegative}})</span>
                <span class="visible-xs">Recv ({{0+identity.data.receivedPositive+identity.data.receivedNeutral+identity.data.receivedNegative}})</span>
              </uib-tab-heading>
              <div ng-if="isCurrentUser" ng-include="'app/main/getstarted.partial.html'"></div>
              <div class="panel panel-info" ng-if="!isCurrentUser && authentication.user && authentication.identity.data && !authentication.identity.data.sentPositive">
                <div class="panel-heading">
                  Trust this user? Upvote them to see their posts!
                </div>
              </div>
              <div ng-include="'app/messages/create.rating.partial.html'" ng-show="!loggingIn && authentication.user && !isCurrentUser"></div>
              <div ng-include="'app/identities/show.received.html'"></div>
              <div ng-if="!isCurrentUser && receivedFiltered.length == 0" class="alert alert-info text-center">No messages yet</div>
            </uib-tab>
            <uib-tab index="2" ng-if="isUniqueType">
              <uib-tab-heading>Sent ({{0+identity.data.sentPositive+identity.data.sentNeutral+identity.data.sentNegative}})</uib-tab-heading>
              <div ng-include="'app/identities/show.sent.html'"></div>
            </uib-tab>
            <uib-tab index="3">
              <uib-tab-heading>Id<span class="hidden-xs">entity</span> (<span ng-bind="attributesLength || 0"></span>)</uib-tab-heading>
              <div ng-include="'app/identities/show.attributes.html'" id="attributes"></div>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>
    </section>
  </div>
</div>
