<div infinite-scroll="getSentMsgs()" infinite-scroll-distance="2" infinite-scroll-disabled="true || !identity || activeTab != 2">
  <div class="panel" ng-class="{'mar-bot5': (filters.type.indexOf('rating') === 0)}">
    <div class="filters">
      <ul class="nav nav-pills msg-type-filter">
        <li ng-class="{active: (filters.type === null) }" ng-click="setFilters({ type: null })"><a>All</a></li>
        <li ng-class="{active: (filters.type === 'rating') }" ng-click="setFilters({type: 'rating'})"><a>Rating</a></li>
        <li ng-class="{active: (filters.type === 'verification') }" ng-click="setFilters({type:'verification'})"><a>Verification</a></li>
        <!-- <li ><a href="#" data-val="other"><span class="glyphicon glyphicon-question-sign"></span> Other</a></li> -->
      </ul>
    </div>
  </div>
  <div ng-show="filters.type.indexOf('rating') === 0" class="panel">
    <div class="filters">
      <ul class="nav nav-pills msg-type-filter">
        <li ng-class="{active: (filters.type === 'rating:positive') }" ng-click="setFilters({type: 'rating:positive'})"><a><span class="positive"><span class="visible-xs-inline glyphicon glyphicon-thumbs-up"></span><span class="hidden-xs">Pos<span class="hidden-md">itive</span></span> ({{0+identity.data.sentPositive}})</span></a></li>
        <li ng-class="{active: (filters.type === 'rating:neutral') }" ng-click="setFilters({type: 'rating:neutral'})"><a><span class="neutral"><span class="visible-xs-inline glyphicon glyphicon-question-sign"></span><span class="hidden-xs">Neut<span class="hidden-md">ral</span></span> ({{0+identity.data.sentNeutral}})</span></a></li>
        <li ng-class="{active: (filters.type === 'rating:negative') }" ng-click="setFilters({type: 'rating:negative'})"><a><span class="negative"><span class="visible-xs-inline glyphicon glyphicon-thumbs-down"></span><span class="hidden-xs">Neg<span class="hidden-md">ative</span></span> ({{0+identity.data.sentNegative}})</span></a></li>
      </ul>
    </div>
  </div>
  <message auth="authentication" ipfs="ipfs" msg-utils="msgUtils" msg="msg" page-info="identity" ng-repeat="msg in sent | filter:msgFilter | orderBy:'(signedData.timestamp||signedData.time)' : true as sentFiltered" ng-click="openMessage($event, msg)"></message>
</div>
<div ng-if="sentFiltered.length == 0" class="alert alert-info text-center">No messages yet</div>
