<div class="col-md-10 col-md-offset-1" ng-controller="IdentitiesController">
  <div class="panel panel-default mar-top15">
    <div class="panel-heading">
      <div class="mar-bot15">
        <div style="color:red;font-weight:bold">
          <!-- communications are encrypted, but anyone can see who are communicating with each other -->
          currently this is unencrypted livestreaming :D
        </div>

        <identicon identity="identity"
          ipfs="ipfs"
          width="35">
        </identicon>

        <span class="mar-right15">
          <span ng-show="idType === 'keyID' || idType === 'uuid'">
            <identicon identity="idAttr" width=35></identicon>
          </span>
          <span ng-hide="idType === 'keyID' || idType === 'uuid'">
          <span ng-if="!(identity.data.mostVerifiedAttributes.name||identity.data.mostVerifiedAttributes.nickname)">
          <span ng-bind="idValue" class="idValue"></span>
          <small class="text-muted">
          <span ng-hide="idType === 'url'" ng-bind="idType" class="idType"></span>
          <a ng-href="{{idValue}}" ng-show="idType === 'url'" ng-bind="idType" class="idType"></a>
          </small>
          </span>
          </span>
        </span>
        <span ng-bind="identity.primaryName"></span>
        <small class="positive mar-left15" ng-show="isOnline">online</small>

        <div>
          <videochat ng-if="idType === 'keyID'" gun="gun" pubkey="idValue"></videochat>
        </div>

      </div>
    </div>
  </div>
</div>
