<div class="container no-padding-xs">
  <section>
    <div id="messages" class="row">
      <div class="col-sm-4" ng-class="{'hidden-xs': ('chats.show'|isState)}">
        <div style="cursor:pointer" ui-sref="chats.create" class="panel chat-row" ui-sref-active="active">
          <div class="panel-body"><span class="fa fa-edit mar-right15"></span>New</div>
        </div>
        <div class="panel chat-row" ng-repeat="chat in chats | orderBy:'-latest.time'" ui-sref="chats.show({value:chat.idValue, type:chat.idType})" ui-sref-active="active" ng-click="chat.unreadMsgs = 0" style="cursor:pointer">
          <div class="panel-body">
            <notification-icon count="chat.unreadMsgs">
              <identicon identity="chat.identity" width="35" ipfs="ipfs" show-distance="false"></identicon>
            </notification-icon>
            <span ng-bind="chat.identity.primaryName" class="mar-left15"></span>
            <small class="pull-right" ng-bind="chat.latest.time | date: 'yyyy-MM-dd HH:mm'"></small><br>
            <small class="pull-right">
              {{chat.latest.text|limitTo:35}}{{chat.latest.text.length > 35 ? '...':''}}
            </small>
            <span class="fa fa-volume-mute mar-left10" ng-if="localSettings[chat.idValue].muted"></span>
          </div>
        </div>
      </div>
      <div class="col-sm-8" ng-class="{'hidden-xs': ('chats.list'|isState)}">
        <ui-view/>
      </div>
    </div>
  </section>
</div>
