<div ng-include="'app/main/createuser.partial.html'"></div>

<div ng-include="'app/main/notificationsprompt.partial.html'"></div>

<div ng-if="idType =='uuid'" ng-include="'app/messages/create.chat.partial.html'"></div>

<div ng-if="idType != 'uuid'" class="panel panel-default">
  <div class="panel-heading">
    <div class="mar-bot15">
      <p style="color:red;" ng-if="idType=='keyID'"><small><b>private messages are encrypted, but anyone can see who are communicating with each other</b></small></p>
      <p style="color:red;" class="pull-right" ng-if="idType!='keyID'"><small><b>public chat</b></small></p>

      <div ui-sref="identities.show({type:idType, value:idValue})" style="cursor:pointer">
        <identicon identity="identity"
          ipfs="ipfs"
          width="35">
        </identicon>

        <span class="mar-right15">
          <span ng-show="idType === 'keyID' || idType === 'uuid'">
            <identicon identity="idAttr" width=35></identicon>
          </span>
          <span ng-hide="idType === 'keyID' || idType === 'uuid'">
          <span ng-if="!(identity.data.mostVerifiedAttributes.name||identity.data.mostVerifiedAttributes.nickname)">
          <span ng-bind="idValue" class="idValue"></span>
          <small class="text-muted">
          <span ng-hide="idType === 'url'" ng-bind="idType" class="idType"></span>
          <a ng-href="{{idValue}}" ng-show="idType === 'url'" ng-bind="idType" class="idType"></a>
          </small>
          </span>
          </span>
        </span>
        <span ng-bind="identity.primaryName"></span>
        <small class="positive mar-left15" ng-show="isOnline">online</small>
        <small class="mar-left15" ng-show="!isOnline && lastActive">
          last active {{ lastActive * 1000 | date : 'yyyy-M-d HH:mm' }}
        </small>
      </div>

    </div>

    <form class="form-inline mar-bot5" ng-submit="sendChatMessage(m);m = ''">
      <input ng-disabled="!authentication.user" class="form-control" type="text" ng-model="m" style="display:inline-block; width:80%">
      <button ng-disabled="!authentication.user" class="btn btn-default" type="submit" style="display:inline-block"><i class="glyphicon glyphicon-send"></i></button>
    </form>
  </div>
</div>

<div ng-if="idType == 'keyID'" class="message" ng-repeat="msg in chatMessages | orderBy:'-time'">
  <div class="panel msg">
    <div class="message-panel panel-body">
      <b ng-bind="msg.author"></b> <small class="pull-right" ng-bind="msg.time | date : 'yyyy-M-d HH:mm'"></small>
      <br>
      <span ng-bind="msg.text" ng-class="{big: msg.text.length<=2}"></span>
      <small uib-tooltip="Seen" class="pull-right fa fa-check positive" ng-if="msg.time <= chat.theirMsgsLastSeenTime"></small>
    </div>
  </div>
</div>

<div ng-if="idType == 'uuid'">
  <message auth="authentication" ipfs="ipfs" ng-repeat="msg in chatMessages | orderBy:'-signedData.time'" show-recipient="false" msg="msg"></message>
</div>

<div ng-include="'app/main/getstarted.partial.html'"></div>
