<div class="panel panel-default panel-default">
  <div class="panel-body">
    <form ng-submit="createMessage($event, { type: 'post', comment: newMessage.comment }, { files: files })">
      <div class="row" ng-if="files && files.length">
        <div class="col-xs-12">
          <p>
            <span ng-repeat="file in files">
              <img ngf-thumbnail="file || '/thumb.jpg'" style="max-width: 150px; max-height: 150px; margin-right: 15px; margin-bottom: 15px;">
              <audio controls ngf-src="file"></audio>
              <video controls ngf-src="file" style="max-width: 100%; max-height: 400px;"></video>
            </span>
          </p>
        </div>
      </div>

      <div class="form-group">
        <textarea
          ngf-drop="addFiles($files)"
          style="resize: vertical"
          ng-disabled="addingMessage || loggingIn || !authentication.user"
          name="comment" class="form-control" id="comment"
          ng-model="newMessage.comment"
          placeholder="What's on your mind?"
          ngf-drag-over-class="'dragover'"
          ngf-multiple="true"></textarea>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button ng-disabled="addingMessage || loggingIn || !authentication.user || !(newMessage.comment || files.length)" type="submit" class="btn btn-primary" data-style="zoom-out"><span><span class="fa fa-edit"></span> Publish</span><span></span></button>
          <button ngf-select ng-model="files" ngf-multiple="true" href="" ng-disabled="addingMessage || loggingIn || !authentication.user" class="btn btn-default pull-right" data-style="zoom-out"><span class="fa fa-paperclip"></span> Add files</button>
        </div>
      </div>
    </form>
  </div>
</div>
